/* HEADER */
header {
    background-color: #333333;
    color: #ffffff;
}

header h3 {
    text-align: center;
    padding: 20px 0;
}

.bottom_bar {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

/* MAIN */
main {
    display: flex;
    background-color: #cccccc;
    min-height: 300px;
}

.main_content {
    flex: 3;
    padding: 10px;
}

.aside_Content {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
}

/* FOOTER */
footer {
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
}

footer h3 {
    text-align: center;
}