@media (min-width: 768px) {

    #menuButton {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}